<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="extruder">

    <ros2_control name="extruder" type="system">
      <hardware>
        <plugin>ethercat_driver/EthercatDriver</plugin>
        <param name="master_id">0</param>
        <param name="control_frequency">225</param>
      </hardware>

      <joint name="extruder">
        <state_interface name="ready_to_enable"/>
        <state_interface name="ready"/>
        <state_interface name="warning"/>
        <state_interface name="error"/>
        <state_interface name="enable"/>
        <state_interface name="reset"/>
        <state_interface name="velocity"/>
        <command_interface name="enable"/>
        <command_interface name="reset"/>
        <command_interface name="velocity"/>
        <ec_module name="viprohead">
          <plugin>ethercat_generic_plugins/GenericEcSlave</plugin>
          <param name="alias">0</param>
          <param name="position">1</param>
          <param name="slave_config">$(find ramsai_description)/config/bhf_el7031_config.yaml</param>
        </ec_module>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>